* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 646px;
  height: 646px;
  background-color: aqua;
}
.board {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 3px solid black;
}
.cell {
  background-color: darkgreen;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
}
.black {
  width: 80%;
  height: 80%;
  background-color: black;
  border-radius: 50%;
}
.yel {
  background-color: yellow;
}
